<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <h4>{{@pagetitle}}</h4>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <img src="{{@item.image?@item.image:'res/default.png' |esc}}" alt="">
                <div class="card-body">
                    <h4>{{@item.name |esc}}</h4>
                    <div>{{@item.details |raw}}</div>
                    <div class="text-muted text-small">{{date_format(date_create(@item.created_at),"M d, Y") |esc}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>